<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 400 %>
        <%= @user.name %>
      </h1>
      <body>
    		<%= @user.email %>
    		<%= @user.city %>
    		<%= @user.phone %>
	    </body>
    </section>
  </aside>
</div>