<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 400 %>
        <%= @user.name %>
      </h1>
      <body>
    		<%= @user.email %>
    		<%= @user.city %>
    		<%= @user.phone %>
	    </body>
    </section>
  </aside>
  <div class="span8">
    <% if @user.tasks.any? %>
      <h3>TO DO List (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>